body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    width: 800px;
    height: 350px;
    border: 1px solid #000;
    display: flex;
    margin: 20px auto;
}

/* Menu trái */
.sidebar {
    width: 200px;
    background-color: #e6e6e6;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.sidebar li.active {
    background-color: #999;
    color: white;
    font-weight: bold;
}

/* Nội dung */
.content {
    flex: 1;
    padding: 20px;
}

.content h1 {
    margin-top: 0;
}

.content ol {
    margin-left: 20px;
}
